html
  head
    style
      include ./style.css
    style.
      body {
        background-color: MistyRose;
      }
    title= "Failed"
  a(href='/') Go to start
  p
    a(href='/reports') Go to reports
  h1 Client: #{clientName}
  p
    a(class='selected' href='/summary') Summary
  form(action='/add_to_blacklist', method='POST' enctype="multipart/form-data")
    input(class='hidden' name='reportId' value=reportId)
    input(class='hidden' name='type' value='failed')
    input(class='hidden' name='subtype' value=subtype)
    if records > 0
      div
        input(class='blacklist' type='submit', value='Add to black list')
        a(class='download' href='/download?type=' + type + '&subtype=' + subtype + '&reportId=' + reportId ) Download
      table
        tr
          th Blacklist
          th Url
          th Phase
        each x in xs
          tr
            td
              input(type='checkbox' id=x.domain name=x.domain)
            td  #{x.domain}
            td  #{x.phase}
    else
      div No records
