html
  head
    style
      include ./style.css
    title= "Reports"
  a(href='/') Go to start
  p
  table
    tr
      th Timestamp
      th Client name
      th Total
      th Succeed
      th Rejected
      th Failed
      th Blacklisted
      th Elapsed Time
    each x in xs
      tr
        td  #{x.timestamp}
        td  #{x.clientName}
        td  #{x.total}
        td 
          a(href=`${x.succeedUrl}`) #{x.succeed}
        td 
          a(href=`${x.rejectedUrl}`) #{x.rejected}
        td
          a(href=`${x.failedUrl}`) #{x.failed}
        td
          a(href=`${x.blacklistedUrl}`) #{x.blacklisted}
        td #{x.elapsedTime}
