html
  head
    style
      include ./style.css
    title= "Updating setting"
  body
    h1= "Set desired values"
    form(action='/update_settings', method='POST' enctype="multipart/form-data")
      div(class='container')
        div
          span Spam keywords threshold:
          p
          span Trend angle (degrees):
          p
          span US Traffic (%):
          p
          span English confedence (%):
        div
          input(type='text' id="spamThreshold" name="spamThreshold" value=spamThreshold)
          p
          input(type='text' id="trendAngle" name="trendAngle" value=trendAngle)
          p
          input(type='text' id="usTraffic" name="usTraffic" value=usTraffic)
          p
          input(type='text' id="englishConfidence" name="englishConfidence" value=englishConfidence)
      p
      input(type='submit', value='Submit')
      a(href="/") Cancel
