html
  head
    style
      include ./style.css
    title= "Summary"
  a(href='/') Go to start
  h1 Client: #{clientName}
  p
    a(class='selected' href='/summary') Summary
    if records > 0
      div
        a(class='download' href='/download?filename=summary') Download
        input(class='blacklist' type='submit', value='Add to black list')
      table
        tr
          th Blacklist
          th Url
          th DR
          th TR
          th US Traffic
          th Write for us
          th Spam
          th Trend angle
          th Keywords
        each x in success
          tr
            td
              input(type='checkbox' id=x.url name=x.url)
            td  #{x.domain}
            td  #{x.dr}
            td  #{x.tr}
            td  #{x.us_tr}
            td  #{x.writeToUs}
            td  #{x.spamFound}
            td  #{x.angle}
            td  #{x.keywords}
    else
      div No records
